<div class="container-fluid">

  <div class="container">
    <!-- Title -->
    <div class="d-flex justify-content-between align-items-center py-3">
      <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #{{order['id']}}</h2>
    </div>
  
    <!-- Main content -->
    <div class="row">
      <div class="col-lg-8">
        <!-- Details -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3 d-flex justify-content-between">
            </div>
            <table class="table table-borderless">
              <tbody>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">Status :</td>
                  <td class="text-end"><span class="badge" [ngClass]="getClass()">{{order['status']}}</span></td>
                </tr>
                <tr>
                  <td colspan="2">Subtotal</td>
                  <td class="text-end">{{order['subtotal']}}€</td>
                </tr>
                <tr>
                  <td colspan="2">Shipping</td>
                  <td class="text-end">{{order['shipping-cost']}}€</td>
                </tr>
                <tr>
                  <td colspan="2">Discount (Code: NEWYEAR)</td>
                  <td class="text-danger text-end">-{{order['discount']}}€</td>
                </tr>
                <tr class="fw-bold">
                  <td colspan="2">TOTAL</td>
                  <td class="text-end">{{total}}€</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <br>
        <!-- Payment -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <h3 class="h6">Payment Method</h3>
                <p class="badge">{{order['payment']}}</p>
              </div>
              <div class="col-lg-6">
                <h3 class="h6">Billing address</h3>
                <address>
                  <strong>{{order['name']}}</strong><br>
                  {{order['address']}}<br>
                  {{order['city']}}<br>
                  <abbr title="Phone">P:</abbr> {{order['phone']}}
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>