<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2>Products <b>List</b></h2></div>
              </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th class="text-center">Product ID</th>
                      <th class="text-center">Label</th>
                      <th class="text-center">Price</th>
                      <th class="text-center">More Details</th>
                  </tr>
              </thead>
              <tbody class="text-center" *ngFor="let product of products">
                  <tr>
                      <td>{{product['id']}}</td>
                      <td>{{product['label']}}</td>
                      <td>{{product['price']}}€</td>
                      <td>
                        <a [routerLink]="['/product-detail', product.id]" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                      </td>
                  </tr>       
              </tbody>
          </table>
      </div>
  </div>  
</div>